@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
*{
  font-family: "Source Sans 3" , sans-serif;
}

html,
body {
    height: 100%;
    font-family: "Source Sans 3" , sans-serif;
}
table.bordered-table{
  width: 100%;
}

table tr th a{
  font-weight: normal !important;
}

table.bordered-table tr td{
  padding: 2px auto;
}

table.bordered-table, 
table.bordered-table tr, 
table.bordered-table tr th, 
table.bordered-table tr td
{
  border: 2px solid black;
}

hr{
  opacity: 0.3;
}
li.user-header,
a.logo,
nav{
  background-color: #1E3A8A !important;
}

a.btn-primary,
button.btn-primary{
  background-color: #1E3A8A !important;
}

a.btn-success,
button.btn-success{
  background-color: #047857 !important;
}

label{
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family: "Source Sans 3" , sans-serif !important;
}

.box{
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06) !important;
}

div.positive{
  background-color: #064E3B;
  color: white;
}

div.negative{
  background-color: #7F1D1D;
  color: white;
}

.coloredTable{
  border-spacing: 2px;
  border-collapse: separate;
}

.coloredTable th {
  background-color: #605CA8;
  color: white;
  border: 1px solid #605CA8;
}

.coloredTable td{
  border: 1px solid #605CA8;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: "Source Sans 3" , sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
.callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
  background: white;
}
.callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.callout p:last-child {
  margin-bottom: 0;
}
.callout code {
  border-radius: 3px;
}
.callout + .bs-callout {
  margin-top: -5px;
}

.callout-default {
  border-left-color: #777;
}
.callout-default h4 {
  color: #777;
}

.callout-primary {
  border-left-color: #428bca;
}
.callout-primary h4 {
  color: #428bca;
}

.callout-success {
  border-left-color: #5cb85c;
}
.callout-success h4 {
  color: #5cb85c;
}

.callout-danger {
  border-left-color: #d9534f;
}
.callout-danger h4 {
  color: #d9534f;
}

.callout-warning {
  border-left-color: #f0ad4e;
}
.callout-warning h4 {
  color: #f0ad4e;
}

.callout-info {
  border-left-color: #5bc0de;
}
.callout-info h4 {
  color: #5bc0de;
}

.callout-bdc {
  border-left-color: #29527a;
}
.callout-bdc h4 {
  color: #29527a;
}

.tag{
  background-color: #F4F4F7;
  color: black;
  border-radius: 15px;
  padding: 5px 5px;
}


.spinner {
  -webkit-animation: rotator 1.4s linear infinite;
          animation: rotator 1.4s linear infinite;
}

@-webkit-keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

@keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}
.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
          animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@-webkit-keyframes colors {
  0% {
    stroke: #4285F4;
  }
  25% {
    stroke: #DE3E35;
  }
  50% {
    stroke: #F7C223;
  }
  75% {
    stroke: #1B9A59;
  }
  100% {
    stroke: #4285F4;
  }
}

@keyframes colors {
  0% {
    stroke: #4285F4;
  }
  25% {
    stroke: #DE3E35;
  }
  50% {
    stroke: #F7C223;
  }
  75% {
    stroke: #1B9A59;
  }
  100% {
    stroke: #4285F4;
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}

.flex-start{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-centered{
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: center;
}

.flex-end{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.summary-value{
  font-size: 26px;
}

.modal-xl{
  width: 1140px;
}

*::-webkit-scrollbar
{
  width: 12px;
}
*::-webkit-scrollbar:horizontal
{
  height: 12px;
}
*::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-thumb:horizontal
{
  background-color: #C1C1C1;
  border-radius: 6px;
}

*::-webkit-scrollbar-track,
*::-webkit-scrollbar-track:horizontal
{
  background-color: #f1f1f1;
  border-radius: 6px;
}
